@using PBL.Enum
@model UsuarioViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Cadastro de Usuário</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Save">
            <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />
            <label for="Id" class="control-label">ID</label>
            <input asp-for="Id" class="form-control" readonly />
            <span asp-validation-for="Id" class="text-danger"></span>
            <br />
            <label for="IdPessoa" class="control-label">Funcionário</label>
            @if (ViewBag.Operacao == "I")
            {
                <select asp-for="IdPessoa" asp-items="ViewBag.Funcionarios" class="form-control"></select>
            } else
            {
                <select asp-for="IdPessoa" asp-items="ViewBag.Funcionarios" class="form-control" readonly></select>
            }
            <span asp-validation-for="IdPessoa" class="text-danger"></span>
            <br />
            <label for="Tipo" class="control-label">Tipo de Usuário</label>
            <select asp-for="Tipo" asp-items="Html.GetEnumSelectList<TipoEnum>()" class="form-control"></select>
            <span asp-validation-for="Tipo" class="text-danger"></span>
            <br />
            <label for="Username" class="control-label">Username</label>
            @if (ViewBag.Operacao == "I")
            {
                <input asp-for="Username" class="form-control" />
            } else
            {
                <input asp-for="Username" class="form-control" readonly/>
            }
            <span asp-validation-for="Username" class="text-danger"></span>
            <br />
            <label for="Senha" class="control-label">Senha do Usuário</label>
            <input asp-for="Senha" class="form-control" />
            <span asp-validation-for="Senha" class="text-danger"></span>
            <br />
            <input class="btn btn-primary" type="submit" value="Salvar dados" />
            <br />
            <span class="text-danger">@ViewBag.Erro</span>
        </form>
    </div>
</div>