@model List<UsuarioViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Listagem de Usuários</h2>
<br />
<a class="btn btn-info btn-sm" href="/Usuario/create">Novo Registro</a>
<br />
<br />
<table class="table table-responsive table-hover">
    <tr>
        <th>Ações</th>
        <th>Código</th>
        <th>Funcionário</th>
        <th>Tipo</th>
        <th>Username</th>
    </tr>
    @foreach (var Usuario in Model)
    {
        <tr>
            <td>
                <a class="btn btn-info btn-sm" href="/Usuario/Edit?id=@Usuario.Id">Editar</a>
                <a class="btn btn-danger btn-sm" href="javascript:apagarUsuario(@Usuario.Id)">Apagar</a>
            </td>
            <td>@Usuario.Id</td>
            <td>@Usuario.NomeFuncionario</td>
            @if (Usuario.Tipo == 1)
            {
                <td>Administrador</td>
            } else if (Usuario.Tipo == 2)
            {
                <td>Comum</td>
            }
            <td>@Usuario.Username</td>
        </tr>
    }
</table>
<script>
    function apagarUsuario(id)
    {
    if (confirm('Confirma a exclusão do registro?'))
    location.href = 'Usuario/Delete?id=' + id;
    }
</script> 